<div class="card">
    <div class="grid grid-nogutter">
        <div class="col-12 px-4 mt-4 md:mt-6 md:px-6"><span class="text-900 block font-bold text-xl">Checkout</span>
        </div>
        <div class="col-12 lg:col-6 h-full px-4 py-4 md:px-6">
            <ul class="flex list-none flex-wrap p-0 mb-6">
                <li class="flex align-items-center text-primary mr-2"> Cart <i
                        class="pi pi-chevron-right text-500 text-xs"></i></li>
                <li class="flex align-items-center text-500 mr-2"> Information<i
                        class="pi pi-chevron-right text-500 text-xs mr-2"></i></li>
                <li class="flex align-items-center text-500 mr-2"> Shipping<i
                        class="pi pi-chevron-right text-500 text-xs mr-2"></i></li>
                <li class="flex align-items-center text-500 mr-2">Payment</li>
            </ul>
            <div class="grid formgrid">
                <div class="col-12 field mb-6"><span class="text-900 text-2xl block font-medium mb-5">Contact
                        Information</span><input id="email" placeholder="Email" type="text"
                        class="p-inputtext w-full mb-4">
                    <p-checkbox name="checkbox-1" inputid="id"
                        class="p-element text-900 ng-untouched ng-pristine ng-valid">
                        <div data-pc-name="checkbox" data-pc-section="root"
                            class="p-checkbox p-component p-checkbox-checked">
                            <div class="p-hidden-accessible" data-pc-section="hiddenInputWrapper"
                                data-p-hidden-accessible="true"><input type="checkbox" value="undefined" id="id"
                                    name="checkbox-1" aria-checked="true" data-pc-section="hiddenInput"></div>
                            <div class="p-checkbox-box p-highlight" data-p-highlight="true" data-p-disabled="false"
                                data-p-focused="false" data-pc-section="input">

                                <checkicon class="p-element p-icon-wrapper ng-star-inserted" data-pc-section="icon"><svg
                                        width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="p-checkbox-icon p-icon"
                                        aria-hidden="true">
                                        <path
                                            d="M4.86199 11.5948C4.78717 11.5923 4.71366 11.5745 4.64596 11.5426C4.57826 11.5107 4.51779 11.4652 4.46827 11.4091L0.753985 7.69483C0.683167 7.64891 0.623706 7.58751 0.580092 7.51525C0.536478 7.44299 0.509851 7.36177 0.502221 7.27771C0.49459 7.19366 0.506156 7.10897 0.536046 7.03004C0.565935 6.95111 0.613367 6.88 0.674759 6.82208C0.736151 6.76416 0.8099 6.72095 0.890436 6.69571C0.970973 6.67046 1.05619 6.66385 1.13966 6.67635C1.22313 6.68886 1.30266 6.72017 1.37226 6.76792C1.44186 6.81567 1.4997 6.8786 1.54141 6.95197L4.86199 10.2503L12.6397 2.49483C12.7444 2.42694 12.8689 2.39617 12.9932 2.40745C13.1174 2.41873 13.2343 2.47141 13.3251 2.55705C13.4159 2.64268 13.4753 2.75632 13.4938 2.87973C13.5123 3.00315 13.4888 3.1292 13.4271 3.23768L5.2557 11.4091C5.20618 11.4652 5.14571 11.5107 5.07801 11.5426C5.01031 11.5745 4.9368 11.5923 4.86199 11.5948Z"
                                            fill="currentColor"></path>
                                    </svg></checkicon>






                            </div>
                        </div>

                    </p-checkbox><label for="id" class="m-0 ml-2">Email me with news and offers</label>
                </div>
                <div class="col-12 lg:col-6 field mb-4"><input id="name" placeholder="Name" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 lg:col-6 field mb-4"><input id="lastname" placeholder="Last Name" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 field mb-4"><input id="address" placeholder="Address" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 field mb-4"><input id="address2" placeholder="Apartment, suite, etc" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 lg:col-6 field mb-4"><input id="pc" placeholder="Postal Code" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 lg:col-6 field mb-4"><input id="city" placeholder="City" type="text"
                        class="p-inputtext w-full"></div>
                <div class="col-12 field mb-4"><input id="address2" placeholder="State" type="text"
                    class="p-inputtext w-full"></div>
                <div class="col-12 lg:col-6 field mb-4">
                    <p-checkbox name="checkbox-1" label="Save for next purchase" inputid="id"
                        class="p-element text-900 ng-untouched ng-pristine ng-valid">
                        <div data-pc-name="checkbox" data-pc-section="root"
                            class="p-checkbox p-component p-checkbox-checked">
                            <div class="p-hidden-accessible" data-pc-section="hiddenInputWrapper"
                                data-p-hidden-accessible="true"><input type="checkbox" value="undefined" id="id"
                                    name="checkbox-1" aria-checked="true" data-pc-section="hiddenInput"></div>
                            <div class="p-checkbox-box p-highlight" data-p-highlight="true" data-p-disabled="false"
                                data-p-focused="false" data-pc-section="input">

                                <checkicon class="p-element p-icon-wrapper ng-star-inserted" data-pc-section="icon"><svg
                                        width="14" height="14" viewBox="0 0 14 14" fill="none"
                                        xmlns="http://www.w3.org/2000/svg" class="p-checkbox-icon p-icon"
                                        aria-hidden="true">
                                        <path
                                            d="M4.86199 11.5948C4.78717 11.5923 4.71366 11.5745 4.64596 11.5426C4.57826 11.5107 4.51779 11.4652 4.46827 11.4091L0.753985 7.69483C0.683167 7.64891 0.623706 7.58751 0.580092 7.51525C0.536478 7.44299 0.509851 7.36177 0.502221 7.27771C0.49459 7.19366 0.506156 7.10897 0.536046 7.03004C0.565935 6.95111 0.613367 6.88 0.674759 6.82208C0.736151 6.76416 0.8099 6.72095 0.890436 6.69571C0.970973 6.67046 1.05619 6.66385 1.13966 6.67635C1.22313 6.68886 1.30266 6.72017 1.37226 6.76792C1.44186 6.81567 1.4997 6.8786 1.54141 6.95197L4.86199 10.2503L12.6397 2.49483C12.7444 2.42694 12.8689 2.39617 12.9932 2.40745C13.1174 2.41873 13.2343 2.47141 13.3251 2.55705C13.4159 2.64268 13.4753 2.75632 13.4938 2.87973C13.5123 3.00315 13.4888 3.1292 13.4271 3.23768L5.2557 11.4091C5.20618 11.4652 5.14571 11.5107 5.07801 11.5426C5.01031 11.5745 4.9368 11.5923 4.86199 11.5948Z"
                                            fill="currentColor"></path>
                                    </svg></checkicon>






                            </div>
                        </div><label for="id" data-pc-section="label"
                            class="p-checkbox-label ng-star-inserted p-checkbox-label-active"> Save for next
                            purchase</label>

                    </p-checkbox>
                </div>
                <div
                    class="col-12 flex flex-column lg:flex-row justify-content-center align-items-center lg:justify-content-end my-6">
                    <button pbutton="" (click)="goToCart()" pripple="" label="Return to Cart" icon="pi pi-fw pi-arrow-left" id="return-card"
                        class="p-element p-ripple p-button-secondary p-button-outlined mt-3 lg:mt-0 w-full lg:w-auto flex-order-2 lg:flex-order-1 lg:mr-4 p-button p-component"><span
                            class="p-button-icon p-button-icon-left pi pi-fw pi-arrow-left"
                            aria-hidden="true"></span><span class="p-button-label">Return to Cart</span><span
                            class="p-ink" aria-hidden="true" role="presentation"></span></button><button pbutton=""
                        pripple="" label="Continue to Shipping" icon="pi pi-fw pi-check"
                        class="p-element p-ripple p-button-primary w-full lg:w-auto flex-order-1 lg:flex-order-2 p-button p-component"><span
                            class="p-button-icon p-button-icon-left pi pi-fw pi-check" aria-hidden="true"></span><span
                            class="p-button-label">Continue to Shipping</span><span class="p-ink" aria-hidden="true"
                            role="presentation"></span></button></div>
            </div>
        </div>
        <div class="col-12 lg:col-6 px-4 py-4 md:px-6">
            <div class="pb-3 surface-border"><span class="text-900 font-medium text-xl">Your Cart</span></div>
            <div class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 surface-border">
                <div *ngFor="let item of productsList;" class="col-12">
                    <img [src]="getImageSrc(item?.products?.image)" alt="product" class="w-8rem h-8rem flex-shrink-0 mb-3">
                    <div class="flex-auto lg:ml-3">
                        <div class="flex align-items-center justify-content-between mb-3"><span
                                class="text-900 font-bold">{{item?.products?.name}}</span><span
                                class="text-900 font-bold">${{item?.products?.price}}</span></div>
                        <div class="text-600 text-sm mb-3">Black | Large</div>
                        <div class="flex flex-auto justify-content-between align-items-center">
                            <p-inputnumber buttonlayout="horizontal" spinnermode="horizontal"
                                inputstyleclass="w-2rem text-center py-2 px-1 border-transparent outline-none shadow-none"
                                decrementbuttonclass="p-button-text text-600 hover:text-primary py-1 px-1"
                                incrementbuttonclass="p-button-text text-600 hover:text-primary py-1 px-1"
                                incrementbuttonicon="pi pi-plus" decrementbuttonicon="pi pi-minus"
                                class="p-element p-inputwrapper border-1 surface-border border-round ng-untouched ng-pristine ng-valid p-inputwrapper-filled">
                                <span data-pc-name="inputnumber" data-pc-section="root"
                                    class="p-inputnumber p-component p-inputnumber-buttons-horizontal"><input pinputtext=""
                                        role="spinbutton" inputmode="decimal"
                                        class="p-inputtext p-component p-element w-2rem text-center py-2 px-1 border-transparent outline-none shadow-none p-inputnumber-input p-filled"
                                        aria-valuemin="0" min="0" data-pc-section="input" aria-valuenow="1">

                                    <button type="button" pbutton="" tabindex="-1"
                                        class="p-element p-button-icon-only p-button-text text-600 hover:text-primary py-1 px-1 p-inputnumber-button p-inputnumber-button-up p-button p-component ng-star-inserted"
                                        aria-hidden="true" data-pc-section="incrementbutton"><span
                                            data-pc-section="incrementbuttonicon"
                                            class="pi pi-plus ng-star-inserted"></span>


                                    </button>
                                    <button type="button" pbutton="" tabindex="-1"
                                        class="p-element p-button-icon-only p-button-text text-600 hover:text-primary py-1 px-1 p-inputnumber-button p-inputnumber-button-down p-button p-component ng-star-inserted"
                                        aria-hidden="true" data-pc-section="decrementbutton"><span
                                            data-pc-section="decrementbuttonicon"
                                            class="pi pi-minus ng-star-inserted"></span>


                                    </button>

                                </span></p-inputnumber><button pbutton="" pripple="" icon="pi pi-trash"
                                class="p-element p-ripple p-button-text p-button-rounded p-button p-component p-button-icon-only"><span
                                    class="p-button-icon pi pi-trash" aria-hidden="true"></span><span class="p-ink"
                                    aria-hidden="true" role="presentation"></span></button>
                        </div>
                    </div>
                </div>


            </div>
            <div class="py-2 mt-3 surface-border">
                <p-inputgroup class="p-element p-inputgroup mb-3">
                    <div class="p-inputgroup" data-pc-name="inputgroup"><input type="text" [(ngModel)]="couponCode" pinputtext=""
                            placeholder="Promo code"
                            class="p-inputtext p-component p-element w-full">
                            <!-- <button
                            type="button" pbutton="" pripple="" label="Apply"
                            class="p-element p-ripple p-button p-component" (click)="checkCoupon()"><span
                                class="p-button-label">Apply</span><span class="p-ink" aria-hidden="true"
                                role="presentation"></span></button> -->
                                <p-button label="Apply" [loading]="loading" (onClick)="checkCoupon()"></p-button>
                            </div>
                </p-inputgroup>
                <p-messages [value]="msgs"></p-messages>
            </div>
            <div class="py-2 mt-3">
                <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium">Subtotal</span><span class="text-900">$123.00</span></div>
                <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-medium">Shipping</span><span class="text-primary font-bold">Free</span>
                </div>
                <div class="flex justify-content-between align-items-center mb-3"><span
                        class="text-900 font-bold">Total</span><span class="text-900 font-medium text-xl">$123.00</span>
                </div>
            </div>
            <div class="py-2 mt-3 bg-yellow-100 flex align-items-center justify-content-center border-round"><img
                    src="assets/demo/images/ecommerce/shop/flag.png" alt="Country Flag" class="mr-2"><span
                    class="text-black-alpha-90 font-medium">No additional duties or taxes.</span></div>
        </div>
    </div>
</div>
